<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #F4D949; font-family: 'Open Sans', sans-serif;">
    <div class="container">
        <h2>Referral Links</h2>
        <p>Go through the referral links of several crypto exchanges and enjoy your bonus.</p>
        <div class="card-columns">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"><a href="https://coinsbit.in/referral/8a3f46e2-ee8a-496b-956b-ec26e19bb957" style="text-decoration: none; color: white; font-weight: 700;">Coinsbit Referral Link</a></p>
            </div>
          </div>
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"><a href="https://app.stormgain.com/friend/BNS51663733" style="text-decoration: none; color: white; font-weight: 700;">Stormgain Referral Link</a></p>
            </div>
          </div>
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"><a href="https://t.me/CoinMarketCap" style="text-decoration: none; color: white; font-weight: 700;">CoinMarketCap Official Telegram Channel</a></p>
            </div>
          </div>
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"><a href="https://t.me/tuna_bot" style="text-decoration: none; color: white; font-weight: 700;">tuna_bot Telegram Channel</a></p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>